

@import url(http://fonts.googleapis.com/css?family=Karla:400,700);

body
{
    margin: 0;
    padding: 0;
}

/* Header */

header
{
    background-color: #333333;
    margin: 0 0 40px 0;
    padding: 10px 0 0 0;
    min-height: 50px;
    text-align: center;
}

h2
{
    font-size: 180%;
    margin: 0;
}

h2, h4
{
    font-weight: normal;
}

h4
{
    color: #333;
    display: inline-block;
    font-size: 120%;
    margin: 5px 0 5px 0;
}

/* Filter and search options */

#price-range
{
    width: 370px;
    margin: 10px auto 30px auto;
    text-align: center;
    font-weight: bold;
}

#value-min, #value-max
{
    width: 100px;
    border: none;
    background-color: #f1f1f1;
    font-family: 'Karla', sans-serif;
}

#slider
{
    margin: 30px 0 30px 0;
}

/* Filter and search options */

#buttons, #search
{
    text-align: center;
    margin-bottom: 30px;
    height: 200px;
    z-index: 12;
    margin-top: 100px;
}

/* Filter buttons */

button
{
    background-color: #d7d7d7;
    margin: 5px 2px;
    border: none;
    padding: 3px 10px 4px 10px;
    border-radius: 4px;
    color: #333;
    font-family: 'Karla', sans-serif;
    font-size: 100%;
    float: null;
}

button:hover, button.active
{
    background-color: #4228aa;
    color: #fff;
    cursor: pointer;
}

/* Search input */

input
{
    font-size: 120%;
    border: 1px solid #999;
    padding: 5px;
}

input:hover
{
    border: 1px solid #666;
}

input:focus
{
    border: 1px solid #00cccc;
    outline: none;
}

/* Gallery of images */

#gallery
{
    text-align: center;
    max-width: 892px;
    height: 636px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 14.7%;
    
}


#gallery img
{
    width: px;
    height: px;
    margin: 10.5px;
    float: left;
}

/* Table styles */

table
{
    margin: 0 auto;
    width: 780px;
}

table#rates
{
    width: 380px;
}

th, td
{
    border-radius: 3px;
    color: #333;
    padding: 7px 10px 5px 10px;
    min-width: 9em;
    text-align: left;
}

th
{
    background-color: #d7d7d7;
    font-weight: bold;
    text-transform: uppercase;
}

td
{
    background-color: #fff;
}

table.sortable th:hover
{
    cursor: pointer;
}

th.ascending, th.descending, table.sortable th:hover
{
    background-color: #00cccc;
    color: #fff;
}

/* Arrows for table sorting */

th.ascending:after
{
    font-size: 60%;
    content: '\25B2';
    float: left;
    padding: 4px 5px 0 0;
}

th.descending:after
{
    font-size: 60%;
    content: '\25BC';
    float: left;
    padding: 4px 5px 0 0;
}

.about
{
    width: 780px;
    margin: 0 auto 40px auto;
}

.about:after
{
    content: "";
    display: table;
    clear: both;
}

.about h2
{
    text-align: left;
    float: left;
}

.bio
{
    float: right;
    width: 195px;
}

.bio img
{
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.location
{
    padding-left: 74px;
    background-image: url('../img/pointer.png');
    background-repeat: no-repeat;
    background-position: 60px 1px;
    font-size: 90%;
}

#jquery-script-menu
{
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 5px solid #316594;
    background: #fff;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    z-index: 999999;
    padding: 10px 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.jquery-script-center
{
    width: 960px;
    margin: 0 auto;
}

.jquery-script-center ul
{
    width: 212px;
    float: left;
    line-height: 45px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.jquery-script-center a
{
    text-decoration: none;
}

.jquery-script-ads
{
    width: 728px;
    height: 90px;
    float: right;
}

.jquery-script-clear
{
    clear: both;
    height: 0;
}

.img01-galeria
{
    width: 545px;
    height: 323px;
}

.img02-galeria
{
    width: 269px;
    height: 323px;
}

.img03-galeria
{
    width: 169px;
    height: 238px;
}

.img04-galeria
{
    width: 354px;
    height: 238px;
}

.img05-galeria
{
    width: 269px;
    height: 238px;
}

.img06-galeria
{
    width: 324px;
    height: 269px;
}

.img07-galeria
{
    width: 202px;
    height: 269px;
}

.img8-galeria
{
    width: 270px;
    height: 164px;
}

.img09-galeria
{
    width: 270px;
    height: 84px;
}

